#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v
export PYBUILD_VERBOSE=1
export NOSE_VERBOSE=2

export PYBUILD_NAME=rdfalchemy

export PYBUILD_INSTALL_ARGS=--install-scripts=/tmp

%:
	dh $@  --with python2 --buildsystem=pybuild

override_dh_python2:
	dh_python2 -v -O--buildsystem=pybuild
	rm -rf debian/python-rdfalchemy/tmp/

override_dh_compress:
	dh_compress -X.py -X.rdf -X.rdfs

override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="NOSE_IGNORE_FILES=.*joseki.* nosetests -e 'sesame_is_sparql_test' test" \
	dh_auto_test --buildsystem=pybuild

# Much borrowed from https://wiki.debian.org/onlyjob/get-orig-source :

PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
PKG  = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

.PHONY: get-orig-source

get-orig-source: $(PKG)_$(VER)$(DTYPE).orig.tar.xz
	@

## checkout from git (add "git" to Build-Depends)
UURL = git://github.com/gjhiggins/RDFAlchemy.git
#UDATE = $(shell date --rfc-3339=seconds --date='TZ="UTC" $(shell echo $(VER) | perl -ne 'print "$$1-$$2-$$3" if m/\+(?:git|svn|hg)(\d{4})(\d{2})(\d{2})/')')
$(PKG)_$(VER)$(DTYPE).orig.tar.xz:
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	@echo "# Downloading..."
	git clone $(UURL) $(PKG)-$(VER) \
	|| $(RM) -r $(PKG)-$(VER)
	cd $(PKG)-$(VER) \
	&& git checkout $(shell echo $(VER) | sed -r "s/.*~git//") \
	&& echo "# Setting times..." \
	&& for F in $$(git ls-tree -r --name-only HEAD); do touch --no-dereference -d "$$(git log -1 --format="%ai" -- $$F)" "$$F"; done \
	&& echo "# Cleaning-up..." \
	&& $(RM) -r .git .git*
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
